.welcome-container {
  text-align: center;
  margin-top: 50px;
  background-color: #6b6b6bce;
}

.welcome-container h1 {
  font-size: 2.5em;
  color: #ffffff;
}

.welcome-container p {
  font-size: 1.2em;
  color: #fffefe;
}

.instructions {
  margin-top: 20px;
  font-size: 1em;
  color: #ffffff;
}

.start-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #ff0000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #e6e6e6;
}

body {
  margin: 0;
}


/* Page background */
.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  font-family: Arial, sans-serif;
}

/* Card */
.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
  margin: 20px;
}

button {
  width: 50%;
  padding: 10px;
  margin: 6px 0;
  border: none;
  border-radius: 8px;
  background-color: #3e3f42;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.2s;
}

/* Hover */
button:hover:not(:disabled) {
  background-color: #1e3c72;
  transform: scale(1.02);
}

/* Disabled */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Answer buttons spacing */
button {
  display: block;
  width: 100%;
}

button {
  transition: 0.2s;
}

button:hover:not(:disabled) {
  transform: scale(1.02);
}

.card h2 {
  margin-top: 0;
}

.quiz-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
}

.quiz-caption {
  font-style: italic;
  margin-top: 5px;
  max-width: 350px;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 8px;
}